<!DOCTYPE HTML>

 <html>
    <head>
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta charset="utf-8">
        <!-- Description, Keywords and Author -->
        <meta name="description" content="">
        <meta name="author" content="">
        <title>PyLadies Caravan</title>
		<link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link href="/static/css/style.css" rel="stylesheet" type="text/css">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/css/responsive.css" rel="stylesheet" type="text/css">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/static/css/effects/set2.css" rel="stylesheet" type="text/css">
        <link href="/static/css/effects/normalize.css" rel="stylesheet" type="text/css">
        <link href="/static/css/effects/component.css"  rel="stylesheet" type="text/css" >
	</head>



    <body>
    	<!-- header -->

        	<header role="header">

            	<div class="container">

                	<!-- logo -->
                    	<h1>
                        	<a href="index.html" title="avana LLC"><img src="/static/images/logo.png" title="avana LLC" alt="avana LLC"/></a>
                        </h1>
                    <!-- logo -->

                    <!-- nav -->
                    <nav role="header-nav" class="navy">
                        <ul>
                            <li class="nav-active"><a href="/" title="TOP">Top</a></li>
　　　　　　　　　<!-- ★課題2★ work-details.htmlへのリンクを作成してください(前の行に倣って記述してください)  -->
                        </ul>
                    </nav>
                    <!-- nav -->

                </div>
            </header>
        <!-- header -->

        <!-- main -->
        <main role="main-home-wrapper" class="container">
            <div class="row">

            	<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
                	<article role="pge-title-content">
                    	<header>
                        	<h2><span>Welcome!</span> PyLadies Caravan.</h2>
                        </header>
                        <p>This site made by Flask.</p>
                    </article>
                </section>


                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                	<figure class="effect-oscar">
                    	<img src="/static/images/home-images/image-1.jpg" alt="" class="img-responsive"/>
                        <figcaption>
                        	<h2>About<span> PyLadies Caravan</span></h2>
							<p>What is PyLadies Caravan?</p>
                            <!-- ★課題2★  work-details.htmlへのリンクを作成してください  -->
							<a href="[ここを変更してね]">View more</a>
                        </figcaption>
                    </figure>
                </section>

                <div class="clearfix"></div>
                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                	<ul class="grid-lod effect-2" id="grid">
                    	<li>
                        	<figure class="effect-oscar">
                            <img src="/static/images/home-images/image-2.jpg" alt="" class="img-responsive"/>
                            <figcaption>
                                    <h2>caravan<span>Aichi</span></h2>
                                    <p>PyLadies Carvan in 愛知 のブログ</p>
                                     <a href="https://pyconjp.blogspot.com/2019/09/pyladies-caravan-aichi.html" target="_blank">View more</a>
                            </figcaption>
                        </figure>
                        </li>

                        <li>
                        	<figure class="effect-oscar">
                            <img src="/static/images/home-images/image-4.jpg" alt="" class="img-responsive"/>
                            <figcaption>
                                <h2>caravan<span>Fukuoka</span></h2>
                                <p>PyLadies Carvan in 福岡 のブログ</p>
                                <a href="https://pyconjp.blogspot.com/2019/01/pyladies-caravan-fukuoka.html" target="_blank">View more</a>
                            </figcaption>
                        </figure>
                        </li>
                    </ul>
                </section>

                

                <section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
                	<ul class="grid-lod effect-2" id="grid">
                    	<li>
                            <figure class="effect-oscar">
                                <img src="/static/images/home-images/image-3.jpg" alt="" class="img-responsive"/>
                                 <figcaption>
                                     <h2>caravan<span>Okinawa</span></h2>
                                    <p>PyLadies Carvan in 沖縄 のブログ</p>
                                     <a href="https://pyconjp.blogspot.com/2019/05/pyladies-caravan-in.html" target="_blank">View more</a>
                                </figcaption>
                            </figure>
                        </li>

                        <li>
                        	<figure class="effect-oscar">
                                <img src="/static/images/home-images/image-5.jpg" alt="" class="img-responsive"/>
                                 <figcaption>
                                     <h2>caravan<span>Kyoto</span></h2>
                                     <p>PyLadies Carvan in 京都 のブログ</p>
                                     <a href="https://pyconjp.blogspot.com/2019/02/pyladies-caravan-in.html" target="_blank">View more</a>
                                </figcaption>
                            </figure>
                        </li>
                    </ul>
                </section>

                <div class="clearfix"></div>

            </div>
        </main>
    	<!-- main -->

        <!-- footer -->
        <footer role="footer">
            <!-- logo -->
                <h1>
                    <a href="/" title="PyLadies Caravan"><img src="/static/images/logo.png" title="PyLadies Caravan" alt="PyLadies Caravan"/></a>
                </h1>
            <!-- logo -->


            <ul role="social-icons">
            	<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            </ul>

            <p class="copy-right">&copy; 2019  PyLadies Caravan.. All rights Resved</p>
        </footer>
        <!-- footer -->

    

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/static/js/jquery.min.js" type="text/javascript"></script>
        <!-- custom -->
		<script src="/static/js/nav.js" type="text/javascript"></script>
        <script src="/static/js/custom.js" type="text/javascript"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/js/effects/masonry.pkgd.min.js"  type="text/javascript"></script>
		<script src="/static/js/effects/imagesloaded.js"  type="text/javascript"></script>
		<script src="/static/js/effects/classie.js"  type="text/javascript"></script>
		<script src="/static/js/effects/AnimOnScroll.js"  type="text/javascript"></script>
        <script src="/static/js/effects/modernizr.custom.js"></script>
        <!-- jquery.countdown -->
        <script src="/static/js/html5shiv.js" type="text/javascript"></script>
    </body>
</html>